<html>
<head>
	  <title>Create a Chore</title>
	  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
	<div class="container">
    	<form id="addChoreForm" aria-hidden="false" role="form" method="get" action="/addChore">
            <legend><h1>Create a Chore</h1></legend>
            <div class="form-group">
                <label for="name">Name of chore</label>
                <input id="name" class="form-control" name="name" placeholder="wash the dishes" required/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input class="form-control" name="description" type="text" placeholder="clean the dishes before placing in dishwasher!" required/>
            </div>
            <div class="form-group">
                <label for="priority">Priority</label>
                <br/>
                <input
                    type="radio"
                    name="priority"
                    value="1"
                    /> low<br/>
                <input
                    type="radio"
                    name="priority"
                    value="2"
                    /> medium<br/>
                <input
                    type="radio"
                    name="priority"
                    value="3"
                    /> high<br/>
            </div>
            <div class="form-group">
                <a class="btn btn-danger" href="/homepage" />Cancel</a>
                <input id="submitBtn" class="btn btn-success" value="Add the chore" type="submit" />
            </div>
        </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/createChore.js"></script>
</body>
</html>
