<html>
<head>
	<title>Create an Expense</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
	<div class="container">
    <form id="addExpenseForm" aria-hidden="false" role="form" method="get" action="/addExpense">
        <legend><h1>Create an Expense</h1></legend>
        <div class="form-group">
            <label for="name">Name of Expense</label>
            <input id="name" class="form-control" name="name" placeholder="garbage bags" />
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <input class="form-control" name="description" type="text" placeholder="don't get mad, get Glad!!" />
        </div>
        <div class="form-group">
            <label for="inventory">inventory</label>
            <br/>
            <input
                type="radio"
                name="inventory"
                value="3"
                /> Fully Stocked<br/>
            <input
                type="radio"
                name="inventory"
                value="2"
                /> Running low<br/>
            <input
                type="radio"
                name="inventory"
                value="1"
                /> Out!!<br/>
        </div>

        <div class="form-group">
            <a class="btn btn-danger" href="/addexpense">Cancel</a>
            <input id="submitBtn" class="btn btn-success" value="Add the expense" type="submit" />
        </div>
    </form>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="/js/createExpense.js"></script>
</body>
</html>
