<html>
<head>
	<title>Create an Expense</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/form.css">
</head>
<body>
	<div class="container">
	<form id="signup" data-name="signup" aria-hidden="false" onSubmit={this.handleSubmit}>
        <legend><h1>Create an Expense</h1></legend>
        <div class="form-group">
            <label for="name">Name of Expense</label>
            <input id="name" class="form-control" name="name" placeholder="garbage bags" />
        </div>
        <div class="form-group">
            <label for="descripton">Description</label>
            <input class="form-control" name="descripton" type="text" placeholder="don't get mad, get Glad!!" />
        </div>
        <div class="form-group">
            <label for="priority">Priority</label>
            <br/>
            <input 
                type="radio" 
                name="low" 
                /> Fully Stocked<br/>
            <input 
                type="radio" 
                name="med" 
                /> Running low<br/>
            <input 
                type="radio" 
                name="hi" 
                /> Out!!<br/>
        </div>
        
        <div class="form-group">
            <input class="btn btn-default" type="reset" value="Reset" />
            <input class="btn btn-secondary" type="submit" value="Sign Up" />
        </div>
    </form>
    </div>
</body>
</html>