<html>
<head>
	<title>Homeie</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/login.css">
</head>
<body>
	<div class="loginForm container">

<form method="get" action="/homepage">
	<legend><h1 id="LoginTitle">Login</h1></legend>

   <div class="form-group">
	    <label for="uname"><b>Username</b></label>
	    <br>
	    <input type="text" placeholder="Enter Username" name="uname" required>
   </div>
   
   <div class="form-group">
    <label for="psw"><b>Password</b></label>
    <br>
    <input type="password" placeholder="Enter Password" name="psw" required>
   </div> 

	<div class="form-group">
    	<button class="loginBtn" type="submit">Login</button>
      <button class="loginBtn" type="button" class="cancelbtn">Cancel</button>
    </div>

   <label>
      <input id="rememberId" type="checkbox" checked="checked" name="remember"> Remember me </input>
      <br>
      <span class="psw"> <a href="#">Forgot password?</a></span>
    </label>
    <fb:login-button scope="public_profile,email" onLogin="checkLoginState();"></fb:login-button>
  </div>

</form>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="application/json" src="../data/users.json"></script>
{{> facebook}}
<script type="text/javascript" src="js/facebook.js"></script>
</body>
</html>
