@media (min-width: 768px){
    .container {
        width: 100%;
    }
}
#defaultProfile{
    font-size:50px;
    color: white;
}

#fbProfilePic {
    border-radius: 25px;
    
}
body{
    background-color: #555;
}
#title {
    color: white;
    padding: 0 3% 0 0;
}
.doneGray{
    padding: 10px;
    border-bottom: solid;
    border-width: thick;
    border-radius: 5px;
    background-color: black;
}

.doneGray {

}

.navbar{
    margin-bottom: 20px;
    text-align:center;
}
.nav{
    text-align: center;
}

.nav_icon{
    margin-top: 20px;
    text-align: center;
}
.nav_bar{
    width:100%;
    position:relative;
    left:15px;
}
.nav_chore{
    background-color: #cdcdcd;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
}
.nav_expense{
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
}
.chore_rows{
    color: black;
}


#choresBtn {
    display:inline-block;
    background-color: #cdcdcd;
    color: black;
/*
    border-style: solid;
    border-color: white;
    border-width:2px;
*/
   border-radius: 5px;
   width: 100%;
}

#expensesBtn {
    display:inline-block;
    background-color: white;
    color: black;

    /*border-style: solid;
    border-color: black;
    border-width:2px;
*/
    border-radius:25px;
    border-radius: 5px;
    width: 100%;
}

.done{
    text-align:center;
    position:relative;
    top:15px;
}
.expand{
    position: relative;
    left: 15%;
}
.green{
    background-color: green;
}
.yellow{
    background-color: yellow;
}
.red{
    background-color: red;
}
.chore img, .expense img{
    width:50%;
    position: relative;
    left: 25%;
}
.chore_content, .expense_content{
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: solid;
    border-width: thick;
    border-radius: 5px;
    background-color: #cdcdcd;
}
.card{
    margin: 10 0 10 0;
}
.doneBtn{
    font-size: 20px;
}

.boughtBtn{
    text-align: center;
    //padding-right: 3%;
    text-align: center;
    position:relative;
    //left: -15px;
    font-size: 20px;
}

#submitBtn{
    width: 96%;
    left: 1%;
    text-align: center;
    position: fixed;
    bottom: 2%;
    left: 2%;
    font-size: 20px;
    /*
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 2%;
    left: 0%;
*/
}
.expense_content{
    background-color: white;
}

.add {
    text-align: center;
}
/*
.chores{
    background-color: #3e3d3dfc;
    color: white;
}
*/
