h1{
    text-align: center;
}
.nav_bar{
    width:100%;
    height:50px;
}
.nav{
    text-align:center;
}
.nav a{
    display:inline-block;
    width:100px;
    background-color:gray;
    color:black;
    border-radius:5px;
}
.chore button{
    position:relative;
    left:85%;
    top: -80px;
    border-radius: 5px;
}
.green{
    background-color: green;
}
.yello{
    background-color: yellow;
}
.red{
    background-color: red;
}
.chore img{
    display:none;
}
.chore, .add{
    padding:1%;
    border:solid 1px gray;
}
.add button{
    height:55px;
}
